[package]
name = "memio-macros"
version.workspace = true
edition.workspace = true
license.workspace = true
description = "Procedural macros for MemioTauri"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full", "parsing"] }
